[submodule "sign-hook/lib/forge-std"]
	path = sign-hook/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "sign-hook/lib/sign-protocol-evm"]
	path = sign-hook/lib/sign-protocol-evm
	url = https://github.com/EthSign/sign-protocol-evm
[submodule "sign-hook/lib/openzeppelin-contracts"]
	path = sign-hook/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "sign-hook/lib/hyperlane-monorepo"]
	path = sign-hook/lib/hyperlane-monorepo
	url = https://github.com/Hyperlane-xyz/hyperlane-monorepo
